.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
  font-size: small;
  background-image: url(code.png);
}

.description {
  font-size: medium;
}

.tag {
  font-size: small;
}

.name {
  font-size: xx-large;
}

.mainDiv {
  text-align: center;
  background-color: lightgray;
  
}

.enter {
  background-image: url(matrix.jpeg);
  height: 800px;
  background-size: cover;
  text-align: center;
  vertical-align: middle
}

.wrong {
  background-image: url(Sad.jpg);
  height: 800px;
  background-size: cover;
  text-align: center;
}
